:root {
    --blue-900: #043873;
    --blue-700: #4F9CF9;
    --blue-400: #A7CEFC;
    --yellow-400: #FFE492;
    --white: #FFFFFF;
    --black: #212529;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
}